<template>
    <div class="RegisterPage">
        <Navbar/>
        <b-card header="Register" bg-variant="light" class="register">

            <b-form @submit.prevent="register">
                <b-form-group label="Username:" label-for="signin-username" label-cols-sm="5" label-align-sm="right" :state="stateU">
                    <b-form-input id="signin-username" v-model="username" minlength='3' maxlength='10' :state="stateU" required></b-form-input>
                </b-form-group>

                <b-form-group label="Password:" label-for="signin-pwd" label-cols-sm="5" label-align-sm="right" :state="stateP">
                    <b-form-input id="signin-pwd" type="password" v-model="pwd" minlength='8' maxlength='10' :state="stateP" required></b-form-input>
                </b-form-group>

                <b-form-group label="Repeat Password:" label-for="signin-rpwd" label-cols-sm="5" label-align-sm="right" :state="staterP">
                    <b-form-input id="signin-rpwd" type="password" v-model="rpwd" minlength='8' maxlength='10' :state="staterP" required></b-form-input>
                </b-form-group>

                <p v-html="errorMsg" id="errorMsg"></p>
                <br/>
                <b-form-group label-align="center"><b-button type='submit' variant="outline-success">Register</b-button></b-form-group>
            </b-form>
        </b-card>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    computed: {
        stateU(){return this.username!=''?this.username.length >= 3 && this.username.length <= 10? true : false :null},
        stateP() {return this.pwd!=''?this.pwd.length >= 8 && this.pwd.length <= 10? true : false:null},
        staterP() { return  this.rpwd!=''?this.rpwd.length >= 8 && this.rpwd.length <= 10?this.pwd === this.rpwd? true : false :false :null}
    },
    data() {
      return {
        username: '',
        pwd: '',
        rpwd: '',
        errorMsg: ''
      }
    },
    methods: {
      register(){
        if(this.username.length >= 3 && this.username.length <= 10){
            if(this.pwd.length >= 8 && this.pwd.length <= 10){
                if(this.pwd === this.rpwd){
                    var _this = this

                    axios.post('http://localhost:3000/users', {username:this.username, isAdmin:false, password:this.pwd})
                    .then(function (response) {
                        console.log(response.data);
                        alert('Register Success. Please go to Sign in page to login.');
                        _this.$router.push({ name: 'Signin' })
                    })
                    .catch(function (error) { 
                        if(typeof(error.response) != 'undefined') 
                            _this.errorMsg = "&#9888; " + error.response.data.msg;
                            // alert(error.response.data.msg);
                    });
                }else{
                    this.errorMsg = "&#9888; This field must be equals to password filed.";
                }
            }else{
                this.errorMsg = "&#9888; Please enter 8 - 10 characters in password field.";
            }
        }else{
            this.errorMsg = "&#9888; Please enter 3 - 10 characters in username field.";
        }
         
      }
    } 
}
</script>

<style scoped>
    .register{
        width: 500px;
        height: 350px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -130px ;
        margin-left: -250px ;
        text-align: center;
        opacity:0.95;
        overflow: hidden;
    }

    .RegisterPage{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #errorMsg{
        color: red;
        text-align: left;
        width: 95%;
        margin: 0 auto;
    }

    @media screen and (max-width: 1024px){
        .register{
        width: 400px;
        height: 340px;
        margin-top: -170px ;
        margin-left: -200px ;
        }
    }

    @media screen and (max-width: 375px){
        .register{
        width: 300px;
        height: 470px;
        margin-top: -235px ;
        margin-left: -150px ;
        }
    }
</style>
