<template>
    <div class="SignoutPage">
        <Navbar/>
    </div>
</template>

<script>

export default {
    async created(){  
        localStorage.removeItem('username');
        localStorage.removeItem('role');
        this.$router.push({ name: 'Homepage' })
    } 
}
</script>

<style scoped>
</style>