<template>
  <div class="homepage">
    <Navbar/>
    <div class="content">
      <b-alert show dismissible variant="success" style="text-align: justify;"><b>{{forecastPeriod}}</b><br/>{{forecastDesc}} {{outlook}}</b-alert>
      <!-- Search -->
      <div class="searchDiv">
        <b-form-tags 
          id="tags-with-dropdown" 
          v-model="tagsOfSearch" 
          no-outer-focus 
          class="mb-2">
          <template v-slot="{ tags, disabled, addTag, removeTag }">
            <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
              <li v-for="tag in tags" :key="tag" class="list-inline-item">
                <b-form-tag
                  @remove="removeTag(tag)"
                  :title="tag"
                  :disabled="disabled"
                  variant="info"
                >{{ tag }}</b-form-tag>
              </li>
            </ul>

            <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
              <template #button-content>
                <b-icon icon="tag-fill"></b-icon> Choose tags
              </template>
              <b-dropdown-form @submit.stop.prevent="() => {}">
                <b-form-group
                  label="Search tags"
                  label-for="tag-search-input"
                  label-cols-md="auto"
                  class="mb-0"
                  label-size="sm"
                  :description="searchDesc"
                  :disabled="disabled"
                >
                <b-form-input v-model="search" id="tag-search-input" type="search" size="sm" autocomplete="off"/>
              </b-form-group>
              </b-dropdown-form>
              <b-dropdown-divider />
              <b-dropdown-item-button v-for="option in availableOptions" :key="option" @click="onOptionClick({ option, addTag })">
                {{ option }}
              </b-dropdown-item-button>
              <b-dropdown-text v-if="availableOptions.length === 0">
                There are no tags available to select
              </b-dropdown-text>
            </b-dropdown>
          </template>
        </b-form-tags>

        <b-form-input id="searchProduct" v-model="searchName" type="search" placeholder="Enter product name" />
      </div>
      
      <!-- Product List -->
        <div class="displayProducts">
          <div v-for="(item, index) in items" :key="index" class="productCard" style="float:left" >
            <b-card
              :title= "item.productName"
              :img-src="item.productPhoto"
              img-alt="Image"
              img-height="150px"
              img-top
              tag="article"
              class="mb-2"
              v-if="test(item.type, item.productName)">
              <b-button @click="toProductDetail(item)" variant="outline-primary">Know More<b-icon icon="chevron-right"/></b-button>
            </b-card>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default{
  name: 'HomePage',
  data(){
    return{
      items: [],
      error: '',
      tagsOfSearch:[],
      options: ['Toners','Moisturizer', 'Cream', 'Oil & Mist', 'Serum & Essence','Eye Care',
              'Mask','Foaming Cleanser', 'Cleansing Oil', 'Others','Suncare'],
      search:'',
      searchName: '',
      forecastPeriod: '',
      forecastDesc:'',
      outlook: ''
    }
  },
  computed: {
      criteria() {
        // Compute the search criteria
        return this.search.trim().toLowerCase()
      },
      availableOptions() {
        const criteria = this.criteria
        // Filter out already selected options
        const options = this.options.filter(opt => this.tagsOfSearch.indexOf(opt) === -1)
        if (criteria) {
          // Show only options that match criteria
          return options.filter(opt => opt.toLowerCase().indexOf(criteria) > -1);
        }
        // Show all options available
        return options
      },
      searchDesc() {
        if (this.criteria && this.availableOptions.length === 0) {
          return 'There are no tags matching your search criteria'
        }
        return ''
      }
  },
  async created(){  //
    var _this = this
    axios.get('http://localhost:3000/skinCares')
      .then(function (response) {
        _this.items = response.data;
        console.log(_this.items);
        for(var i = 0; i < _this.items.length; i++){
          _this.items[i].date = _this.items[i].date.substring(0, 10)
        }
      })
      .catch(function (error) { 
        console.log(error);
      });

    axios.get('https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=flw')
      .then(function (response) {
        console.log(response.data)
        _this.forecastPeriod = response.data.forecastPeriod
        _this.forecastDesc = response.data.forecastDesc
        _this.outlook = response.data.outlook
      })
      .catch(function (error) { 
        console.log(error);
      });
  },
  methods: {
    test(pType, pName){
      if(this.tagsOfSearch.length == 0 && this.searchName.length == 0){
        return true
      }else{
        if(this.tagsOfSearch.length != 0){
          for(var i = 0; i < this.tagsOfSearch.length; i++){
            if(this.tagsOfSearch[i] == pType){
              if(this.searchName.length != 0){
                if(pName.includes(this.searchName)){ return true }
              }else{
                return true
              }
            }
          }
        }else{
            if(pName.includes(this.searchName)){ return true }
        }
      }

      return false
    },
    onOptionClick({ option, addTag }) {
      addTag(option)
      this.search = ''
    },
    toProductDetail(item){
      this.$router.push({
        name: 'ProductDetail',
        params: {
          productId: item._id,
        }
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .homepage{
    width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
  }

.displayProducts{
  /* display:inline-block !important; display:inline; */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 20px auto;
}

.productCard{
    justify-content: left;
    max-width: 200px;
    margin: 0 5px
}

.content{
  padding-top: 80px;
  width: 70%;
  opacity:1;
  margin: 0 auto;
}

.searchDiv{
  max-width: 80%;
  margin: 0 auto; 
  background-color: rgba(255, 255, 255);
}

</style>
