<template>
    <div class="modifyComment">
        <Navbar/>
        <div class="content">
            <h1>Modify Comment page</h1>
            <b-card class="form">
                <b-button type="button" variant="outline-primary" router-link to="myCommentsList"><b-icon icon="arrow-left"/> Back to list</b-button>
                <p v-html="errorMsg" id="errorMsg"></p>
                <b-form @submit.prevent="modifyComment">
                    <b-row class="mb-2">
                        <b-col>
                            <b-form-group id="input-group-comment" label="Comment:" label-for="comments">
                                <b-form-input id="comments" maxlength="100" :state="stateOfComment" v-model="form.comments" placeholder="Enter Comments" required />
                            </b-form-group> 
                            <b-form-group id="input-group-rating" label="Rank:" label-for="rank">
                                <b-form-rating id="rank" v-model="form.rank" color="red" icon-empty="heart" icon-half="heart-half" icon-full="heart-fill" show-value></b-form-rating>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <b-card
                                :title="form.productName"
                                :img-src="form.productPhoto"
                                img-alt="Image"
                                img-top
                                tag="article"
                                style="max-width: 20rem;"
                                class="mb-2"/>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                        <b-button type="button" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    </b-row>
                </b-form>
            </b-card>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    computed: {
        stateOfComment() { return  this.form.comments!=''?(this.form.comments.length >=  1 && this.form.comments.length <= 100)? true : false :null}
    },
    data() {
      return{
          errorMsg: '',
          form:{
              productPhoto:'',
              productName:'',
              productID:'',
              comments:'',
              rank: 0
          }
      }
    },
    async created(){
        console.log(this.$route.params.productID)
        var _this = this
        axios.get('http://localhost:3000/comments/' + this.$route.params.CommentId)
            .then(function (response) { 
                _this.form = response.data[0]
                _this.form.productName = _this.$route.params.productName
                _this.form.productPhoto = _this.$route.params.productPhoto
            })
            .catch(function (error) { console.log(error); }); 
    },
    methods: {
        resetAll(){
            var _this = this
            axios.get('http://localhost:3000/comments/' + this.$route.params.CommentId)
            .then(function (response) { 
                _this.form = response.data[0]
                _this.form.productName = _this.$route.params.productName
                _this.form.productPhoto = _this.$route.params.productPhoto
            })
            .catch(function (error) { console.log(error); }); 
        },
        modifyComment(){
            var _this = this
            if(_this.form.comments.length > 0){
                if(_this.form.rank > 0){
                    axios.patch('http://localhost:3000/comments/' + this.$route.params.CommentId, 
                    {
                        comments:_this.form.comments, 
                        rank:_this.form.rank
                    })
                    .then(function (response) {
                        console.log(response.data);
                        alert('Modify Comment Successful.');
                        _this.$router.push({ name: 'MyCommentsList' })
                    })
                    .catch(function (error) { 
                        if(typeof(error.response) != 'undefined') 
                            _this.errorMsg = "&#9888; " + error.response.data.msg;
                    });
                }else{
                    _this.errorMsg = "&#9888; Comment cannot be empty";
                }
            }else{
                _this.errorMsg = "&#9888; The rank must br more than or equals to 1";
            }
            
            
        }  
    }
}
</script>

<style scoped>
.content{
  padding-top: 80px;
}

.modifyComment{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.form{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.btnSetting{
    width: 50%;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#preview img {
  max-width: 100%;
  max-height: 300px;
}
</style>
