<template>
    <div class="productDetail">
        <Navbar/>
        <div class="content">
            <h1>Product Detail page</h1>
            <div class="table">
                <b-button type="button" variant="outline-primary" router-link to="/"><b-icon icon="arrow-left"/> Back to Main </b-button>
                <p/>
                <b-container>
                    <!-- Product Information -->
                    <b-row class="mb-2"> 
                        <b-col sm="5"><b-img id="image" thumbnail fluid :src="ProductList.productPhoto"/></b-col>
                        <b-col>
                            <b-container>
                                <b-row class="mb-2"><b-col sm="4" class="text-sm-right"><b>Name:</b></b-col><b-col>{{ProductList.productName}}</b-col></b-row>
                                <b-row class="mb-2"><b-col sm="4" class="text-sm-right"><b>Type:</b></b-col><b-col>{{ProductList.type}}</b-col></b-row>
                                <b-row class="mb-2"><b-col sm="4" class="text-sm-right"><b>Price:</b></b-col><b-col>{{ProductList.price}}</b-col></b-row>
                                <b-row class="mb-2"><b-col sm="4" class="text-sm-right"><b>Description:</b></b-col><b-col><pre>{{ProductList.description}}</pre></b-col></b-row>
                                
                            </b-container>
                            
                        </b-col>
                    </b-row>
                    <hr/>
                    <b-row>
                        <b-col>
                            <!-- Filter  -->
                            <div class="tools">
                                <b-form-group label="Filter" label-for="filter-input" label-cols-sm="1" label-align-sm="left" label-size="sm" class="mb-0 fsetting">
                                <b-input-group size="sm">
                                    <b-form-input id="filter-input" size="lg" v-model="filter" type="search" placeholder="Type to Search" />
                                </b-input-group>
                            </b-form-group>
                            </div>

                            <!-- Pagination -->
                            <b-pagination class="tool" v-model="currentPage" :total-rows="rows" :per-page="perPage" first-text="First" prev-text="Prev" next-text="Next" last-text="Last" align="fill" aria-controls="pList"/>

                            <!-- Comments List -->
                            <b-table id="pList" 
                                :items="CommentsList" 
                                :fields="commentsFields" 
                                :per-page="perPage" 
                                :current-page="currentPage"
                                :filter="filter"
                                :filter-included-fields="filterOn"
                                stacked="md"
                                show-empty
                                small
                                style="text-align: justify;"
                                @filtered="onFiltered"
                                responsive="sm"/>
                        </b-col>
                    </b-row>
                    <!-- Create Comments -->
                    <b-row>
                        <h5>Add Comments</h5>
                    </b-row>
                    <b-row>
                        <b-card style="width:100%">
                            <b-form @submit.prevent="createComments">
                                <p v-html="errorMsg" id="errorMsg"></p>
                                <b-form-group id="input-group-comment" label="Comment:" label-for="comments">
                                    <b-form-input id="comments" minlength="1" maxlength="100" :state="stateOfComment" v-model="commentForm.comments" placeholder="Enter Comments" required />
                                </b-form-group> 
                                <b-form-group id="input-group-rating" label="Rank:" label-for="rank">
                                    <b-form-rating id="rank" v-model="commentForm.rank" color="red" icon-empty="heart" icon-half="heart-half" icon-full="heart-fill" show-value></b-form-rating>
                                </b-form-group>
                            
                                <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                                <b-button type="button" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    
                            </b-form>
                        </b-card>
                    </b-row>
                </b-container>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    inject:["reload"],
    data() {
      return{
          errorMsg:'',
          CommentsList:[],
          ProductList:[],
          commentsFields:['userID', {key: 'comments', thStyle: { width: '50%'}}, {key: 'rank', thStyle: { width: '10%'}}, {key: 'date',sortable: true, thStyle: { width: '18%'}}],
          perPage: 5,
          currentPage: 1,
          filter: null,
          filterOn: ['userID', 'date', 'comments'],
          commentForm:{
              comments:'',
              rank:'1'
          }
      }
    },computed: {
      rows() {
        return this.CommentsList.length
      }
    },
    async created(){ 
        var _this = this
        axios.get('http://localhost:3000/comments/productID/' + this.$route.params.productId)
            .then(function (response) {
                // console.log(response.data)
                _this.CommentsList = response.data;
                for(var i = 0; i < _this.CommentsList.length; i++){
                    // Date
                    _this.CommentsList[i].date = _this.CommentsList[i].date.substring(0, 10)
                    // console.log(_this.CommentsList[i]);
                }

                
            })
            .catch(function (error) { 
                console.log(error);
            });

      
        axios.get('http://localhost:3000/skinCares/id/' + this.$route.params.productId)
            .then(function (response) {
                // console.log(response.data)
                _this.ProductList = response.data[0];
                for(var i = 0; i < _this.ProductList.length; i++){
                    // Date
                    _this.ProductList[i].date = _this.ProductList[i].date.substring(0, 10)
                }

                
            })
            .catch(function (error) { 
                console.log(error);
            });
    },
    methods:{
        onFiltered(filteredItems) {
            // Trigger pagination to update the number of buttons/pages due to filtering
            this.totalRows = filteredItems.length
            this.currentPage = 1
        },
        resetAll(){
            this.commentForm.comments=''
            this.commentForm.rank='1'
          
        },
        createComments(){
            var _this = this
            if(_this.commentForm.comments.length > 0){
                if(_this.commentForm.rank >=1){
                    axios.post('http://localhost:3000/comments', 
                    {
                        userID:localStorage.getItem('username'),
                        productID:_this.$route.params.productId, 
                        comments:_this.commentForm.comments,
                        rank:_this.commentForm.rank
                    })
                    .then(function (response) {
                        console.log(response.data);
                        alert('Create Comments Successful.');
                        _this.reload()
                     
                    })
                    .catch(function (error) { 
                        if(typeof(error.response) != 'undefined') 
                            _this.errorMsg = "&#9888; " + error.response.data.msg;
                    });
                }else{
                    _this.errorMsg = "&#9888; Comment cannot be empty";
                }
            }else{
                _this.errorMsg = "&#9888; The rank must br more than or equals to 1";
            }
                
            
        }
    }
}
</script>

<style scoped>
.productDetail{
    width: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
  }

.content{
  padding-top: 80px;
  width: 70%;
  opacity:1;
  margin: 0 auto;
}

.table{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#image {
  max-width: 100%;
  max-height: 300px;
}

.btnSetting{
    width: 50%;
}

#errorMsg{
    color: red;
    text-align: left;
    width: 95%;
    margin: 0 auto;
}
</style>
