<template>
    <div class="modifyProduct">
        <Navbar/>
        <div class="content">
            <h1>Modify Product page</h1>
            <b-card class="form">
                <b-button type="button" variant="outline-primary" router-link to="skinCareList"><b-icon icon="arrow-left"/> Back to list</b-button>
                <p v-html="errorMsg" id="errorMsg"></p>
                <b-form @submit.prevent="modifyProduct">
                    <b-row class="mb-2">
                        <b-col>
                            <b-form-group id="input-group-name" label="Product Name:" label-for="productName">
                                <b-form-input id="productName" :state="stateOfName" v-model="form.productName" placeholder="Enter Product Name" required />
                            </b-form-group>

                            <b-form-group id="input-group-type" label="Product Type:" label-for="type">
                                <b-form-select id="type" v-model="form.type" :options="types" required></b-form-select>
                            </b-form-group>

                            <b-form-group id="input-group-price" label="Product Price:" label-for="price">
                                <b-form-input id="price" type='number' v-model="form.price" min="1" minlength='1' 
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                                onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" 
                                maxlength="8" placeholder="Enter Product Price" 
                                :state="stateOfPrice" required />
                            </b-form-group>

                            <b-form-group id="input-group-desc" label="Description:" label-for="description">
                                <b-form-textarea id="description" v-model="form.description" :state="stateOfDesc" rows="3" max-rows="5" required/>
                            </b-form-group>
                        </b-col>
                        <b-col>
                            <div id="preview"><b-img thumbnail fluid :src="form.productPhoto"/></div>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-button type="submit" class='btnSetting' variant="outline-primary">Submit</b-button>
                        <b-button type="button" @click="resetAll" class='btnSetting' variant="outline-danger">Reset</b-button>
                    </b-row>
                </b-form>
            </b-card>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    computed: {
        stateOfName() { return  this.form.productName!=''?this.form.productName.length >=  1? true : false :null},
        stateOfPrice() { return  this.form.price!=''?this.form.price >=  1 && this.form.price.length >=1 && this.form.price.length<8 ? true : false :null},
        stateOfDesc() { return  this.form.description!=''?this.form.description.length >=  1? true : false :null},
    },
    data() {
      return{
          errorMsg: '',
          form:{
              productPhoto:'',
              productName:'',
              type:'Toners',
              price:'',
              description:'',
              url:'',
              imageData:'',
              uploadValue: 0
          },
          types:[
              'Toners',
              {
                label: 'Moisturizers',
                options: ['Moisturizer', 'Cream', 'Oil & Mist']
              },
              'Serum & Essence',
              'Eye Care',
              'Mask',
              {
                label: 'Cleansers',
                options: ['Foaming Cleanser', 'Cleansing Oil', 'Others']
              },
              'Suncare'
          ]
      }
    },
    async created(){
        console.log(this.$route.params.productID)
        var _this = this
        axios.get('http://localhost:3000/skinCares/id/' + this.$route.params.productID)
            .then(function (response) {  _this.form = response.data[0] })
            .catch(function (error) { console.log(error); }); 
    },
    methods: {
        onFileChange(e) {
            if(e.target.value.length == 0){
                this.form.url = "";
                this.form.imageData = "";
            }else{
                const file = e.target.files[0];
                this.form.url = URL.createObjectURL(file);
                this.form.imageData = e.target.files[0];
            }
        }, 
        resetAll(){
            var _this = this
            axios.get('http://localhost:3000/skinCares/id/' + this.$route.params.productID)
            .then(function (response) { _this.form = response.data[0] })
            .catch(function (error) { console.log(error); }); 

            this.form.url=''
            this.form.uploadValue = 0
            this.form.imageData = ''
            this.errorMsg=''
        },
        modifyProduct(){
            var _this = this
            if(_this.form.productPhoto!= "" && _this.form.productName!="" && _this.form.type!="" && _this.form.price !="" && _this.form.description !=""){

                axios.patch('http://localhost:3000/skinCares/' + this.$route.params.productID, 
                    {
                        productName:_this.form.productName, 
                        type:_this.form.type,
                        price:_this.form.price,
                        description:_this.form.description
                    })
                    .then(function (response) {
                        console.log(response.data);
                        alert('Modify Product Successful.');
                        _this.$router.push({ name: 'SkinCareList' })
                    })
                    .catch(function (error) { 
                        if(typeof(error.response) != 'undefined') 
                            _this.errorMsg = "&#9888; " + error.response.data.msg;
                    });
            }else{
                _this.errorMsg = "&#9888; Please fill in all fields in the form";
            }
        }  
    }
}
</script>

<style scoped>
.content{
  padding-top: 80px;
}

.modifyProduct{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.form{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.btnSetting{
    width: 50%;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
#preview img {
  max-width: 100%;
  max-height: 300px;
}
</style>
