<template>
    <div class="skinCareList">
        <Navbar/>
        <div class="content">
            <h1>Skin Care Product List</h1>
            <div class="table">

                <!-- Create Prouct Button & Filter  -->
                <div class="tools">
                    <b-button variant="outline-danger" class="mr-3" @click="createProduct">Create Product</b-button>

                    <b-form-group label="Filter" label-for="filter-input" label-cols-sm="1" label-align-sm="left" label-size="sm" class="mb-0 fsetting">
                    <b-input-group size="sm">
                        <b-form-input id="filter-input" size="lg" v-model="filter" type="search" placeholder="Type to Search" />
                    </b-input-group>
                </b-form-group>
                </div>

                <!-- Pagination -->
                <b-pagination class="tool" v-model="currentPage" :total-rows="rows" :per-page="perPage" first-text="First" prev-text="Prev" next-text="Next" last-text="Last" align="fill" aria-controls="pList"/>

                <!-- Main Table -->
                <b-table id="pList" :items="items" :fields="fields" :per-page="perPage" :current-page="currentPage"
                    :filter="filter"
                    :filter-included-fields="filterOn"
                    stacked="md"
                    show-empty
                    small
                    @filtered="onFiltered" responsive="sm">
                    <template #cell(show_details)="row">
                        <b-button size="sm" variant="outline-dark" @click="row.toggleDetails" class="mr-2">
                        {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                        </b-button>
                    </template>

                    <!-- Show Detail -->
                    <template #row-details="row">
                        <b-card id="itemCard">
                            <b-row class="mb-2">
                                <b-col><b-button class='btnSetting' variant="outline-primary" @click="modifyProduct(row.item)" size="sm">Modify</b-button></b-col>
                                <b-col><b-button class='btnSetting' variant="outline-danger" :disabled="busy" @click="deleteProduct(row.item)" size="sm">DELETE</b-button></b-col>
                            </b-row>
                            <b-row class="mb-2" id="info">
                                <b-col sm="auto"><b-img thumbnail fluid :src="row.item.productPhoto" height="200px" width="200px"/></b-col>
                    
                                <b-col>
                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>Product ID:</b></b-col>
                                        <b-col>{{ row.item._id }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>Product Name:</b></b-col>
                                        <b-col >{{ row.item.productName }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>Product Type:</b></b-col>
                                        <b-col>{{ row.item.type }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>Product Price:</b></b-col>
                                        <b-col>{{ row.item.price }}</b-col>
                                    </b-row>

                                    <b-row class="mb-2">
                                        <b-col sm="4" class="text-sm-right"><b>Last Update:</b></b-col>
                                        <b-col>{{ row.item.date }}</b-col>
                                    </b-row>  
                                </b-col>      
                            </b-row>
                            <b-button size="sm" variant="outline-dark" class='btnSetting' @click="row.toggleDetails">Hide Details</b-button>
                        </b-card>
                    </template>
                </b-table>

                <!-- overlay -->
                <b-overlay :show="overlayOfDel" no-wrap fixed=true @shown="onShown" @hidden="onHidden">
                    <template #overlay>
                        <div v-if="processing" class="text-center p-4 bg-primary text-light rounded">
                            <b-icon icon="cloud-upload" font-scale="4"></b-icon>
                            <div class="mb-3">Processing...</div>
                            <b-progress
                            min="1"
                            max="20"
                            :value="counter"
                            variant="success"
                            height="3px"
                            class="mx-n4 rounded-0"/>
                        </div>
                        <div
                            v-else
                            ref="dialog"
                            tabindex="-1"
                            role="dialog"
                            aria-modal="false"
                            aria-labelledby="form-confirm-label"
                            class="text-center p-3">
                            <p><strong id="form-confirm-label">Are you sure?</strong></p>
                            <div class="d-flex">
                                <b-button variant="outline-danger" class="mr-3" @click="onCancel">Cancel</b-button>
                                <b-button variant="outline-success" @click="onOK">OK</b-button>
                            </div>
                        </div>
                    </template>
                </b-overlay>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    inject:["reload"],
    data() {
      return{
            fields: [
                {
                    key: 'date',
                    sortable: true,
                    label: 'Last Update'
                },
                {
                    key: 'productName',
                    sortable: true
                },
                {
                    key: 'type',
                    sortable: true
                },
                {
                    key: 'show_details',
                    sortable: false
                }
            ],
            perPage: 5,
            currentPage: 1,
            items: [],
            overlayOfDel: false,
            idOfoverlay:'',
            filter: null,
            filterOn: ['productName', 'type'],
      }
    },
    async created(){  //
        var _this = this
        axios.get('http://localhost:3000/skinCares')
            .then(function (response) {
                _this.items = response.data;
                console.log(_this.items[0]);
                for(var i = 0; i < _this.items.length; i++){
                    _this.items[i].date = _this.items[i].date.substring(0, 10)
                }
            })
            .catch(function (error) { 
                console.log(error);
            });
    },
    methods: {
        createProduct(){
            this.$router.push({name: 'CreateSkinCare'})
        },
        modifyProduct(item){
            console.log("modify: " + item._id)
            this.$router.push({
                name: 'ModifySkinCare',
                params: {
                    productID: item._id
                }
            })
        },
        deleteProduct(item){
            console.log("Delete:" + item._id)
            this.overlayOfDel = true
            this.idOfoverlay = item._id
        },

        onShown() {
            // Focus the dialog prompt
            this.$refs.dialog.focus()
        },
        onHidden() {
            // In this case, we return focus to the submit button
            // You may need to alter this based on your application requirements
            this.$refs.submit.focus()
        },
        onCancel() {
            this.overlayOfDel = false
            this.idOfoverlay = ""
        },
        onOK() {
            var _this = this

            axios.delete('http://localhost:3000/skinCares/'+ _this.idOfoverlay)
                    .then(function (response) {
                        console.log(response.data)
                        _this.reload()
                        
                    })
                    .catch(function (error) { 
                        if(typeof(error.response) != 'undefined') 
                            alert(error.response.data.msg)
                    });
        },
        onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }

    },
    computed: {
      rows() {
        return this.items.length
      }
    }
}
</script>

<style scoped>
.skinCareList{
    width: 100%;
    height: 100%;
    position: relative;
    align-content: center;
    text-align: center;
}

.table{
    width: 80%;
    opacity:0.95;
    margin: 0 auto;
    height: auto;
    text-align: left;
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.btnSetting{
    width: 100%; 
}

#itemCard{
    text-align:justify;
}

#info{
    height: 200px;
    overflow: scroll;
}

.content{
  padding-top: 80px;
}


.fsetting{
    width: 50%;
    padding-left: 15px;
}
@media screen and (min-width: 1024px){
    .tools{
        width: 100%;
        margin: 5px 5px ;
        display: flex;
        justify-content: flex-start; 
        /* background: rosybrown; */
    }
}
</style>