<template>
    <div class="navBar">
        <div>
            <b-navbar toggleable="sm"  type="light" variant="light">
                <b-navbar-brand router-link to="/">Innisfree Product Recommend</b-navbar-brand>
                
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>

                <b-navbar-nav>
                    <b-nav-item v-if="role=='Admin'" router-link to="skinCareList">SkinCare Management</b-nav-item>
                </b-navbar-nav>

                <b-navbar-nav>
                    <b-nav-item v-if="role=='Admin'" router-link to="CommentsList">Comments Management</b-nav-item>
                </b-navbar-nav>
                
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <template #button-content><em><b-icon icon="person-fill"/><span v-html="username" id="username"></span></em></template>
                        <b-nav-item v-if="username== ''" router-link to="SignIn">SIGN IN</b-nav-item>
                        <b-nav-item v-if="username== ''" router-link to="Register">REGISTER</b-nav-item>
                        <b-nav-item v-if="username!= ''" router-link to="MyCommentsList">My Comments</b-nav-item>
                        <b-nav-item v-if="username!= ''" router-link to="Signout">SIGN OUT</b-nav-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
                </b-collapse>
            </b-navbar>

            
        </div>

        <div class="h2 mb-0">
  </div>
    </div>
</template>

<script>

export default {
    data () {
      return {
        username: '',
        role: false
      }
    },
    async created(){  
        if(localStorage.getItem('username'))
            this.username = localStorage.getItem('username')

        if(localStorage.getItem('role'))
            this.role = localStorage.getItem('role')
    }
}
</script>

<style>
    .navBar{
        width: 100%;
        position: fixed;
        z-index:9999
    }
    #logo{
        width: 20%;
    }
</style>