<template>
  <div id="app">
    <router-view v-if="isRouterAlive"/>
  </div>
</template>

<script>

export default {
  name: 'App',
  provide(){
    return{
      reload: this.reload
    }
  },
  data () {
    return {
      isRouterAlive: true
    }
  },
  methods: {
   reload () {
     this.isRouterAlive = false
     this.$nextTick(() => (this.isRouterAlive = true))
   }   
 }
}
</script>

<style>

html, body  {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  color: #2c3e50;
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/cem-8a775.appspot.com/o/tools%2Fbackground.jpg?alt=media&token=4488e451-53dc-4417-ba04-34e21865f3a5");
  background-size: cover;
  background-repeat: repeat-y;
  position: fixed;
  overflow: scroll;
}


</style>
